.primary0 {
    color: rgb(8, 193, 255)
}

.primary1 {
    color: rgb(91, 214, 255);
}

.primary2 {
    color: rgb(67, 208, 255)
}

.primary3 {
    color: rgb(0, 128, 171)
}

.primary4 {
    color: rgb(0, 111, 148)
}