@media only screen { /* For å tilpasse til skjermstørrelse */
html, body {
    margin: 0;
    padding: 0;
}
/* Farger */
/* Jeg har brukt ChatGPT for å lære dette konseptet ( les farger.txt)*/
:root {
    --primary1: rgb(91, 214, 255);
    --primary2: rgb(67, 208, 255);
    --primary3: rgb(8, 193, 255);
    --primary4: rgb(0, 128, 171);
    --primary5: rgb(0, 111, 148);

    --background: rgb(255, 255, 255);
    --background-accent: rgb(240, 240, 240);
    --text-primary: rgb(0, 0, 0);

    --header: rgb(205, 205, 205);
    --buttons: rgb(173, 173, 173);
}
/* Les darkmode.txt */
.darkmode {
    --primary5: rgb(91, 214, 255);
    --primary4: rgb(67, 208, 255);
    --primary3: rgb(8, 193, 255);
    --primary2: rgb(0, 128, 171);
    --primary1: rgb(0, 111, 148);
    
    --background: rgb(31, 31, 31);
    --background-accent: rgb(40, 40, 40);
    --text-primary: rgb(255, 255, 255);

    --header: rgb(49, 49, 49);
    --buttons: rgb(60, 60, 60);
}

/* Font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p, a {
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 1.3;
}


/* Generelle stiler */
body {
    opacity: 0;
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s, opacity 0.2s ease;
}
body.fade-in {
    opacity: 1;
}
body.fade-out {
    opacity: 0;
}

.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}


/* Header */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--header);
    transition: background-color 0.3s ease;
}
header ul li {
    float: right;
}
header ul li a {
    display: block;
    color: var(--text-primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, scale 0.3s ease;
}
header ul li a:hover {
    scale: 1.05;
    background-color: var(--buttons);
}
header ul li a.active {
    text-decoration: underline;
}
.darkmodebutton {
    margin: 7px 10px;
    background: none;
    border: none;
    overflow: hidden;
    transition: scale 0.3s ease;
}
.darkmodebutton:hover {
    scale: 1.05;
    cursor: pointer;
}
#darkmodeicon {
    width: 30px;
    height: 30px;
}

#gjennestadlogo {
    height: 30px;
    margin-top: 8px;
    margin-left: 10px;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80vh;
    grid-area: footer;
    width: 100%;
    height: 40px;
    background: var(--primary1);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.footer p {
    font-size: 15px;
    color: var(--primary4);
    transition: color 0.3s ease;
}
}