@media only screen { /* For å tilpasse til skjermstørrelse */
html, body {
    margin: 0;
    padding: 0;
}
    /* Farger */
/* Jeg har brukt ChatGPT for å lære dette konseptet ( les farger.txt)*/
:root {
    --primary1: rgb(91, 214, 255);
    --primary2: rgb(67, 208, 255);
    --primary3: rgb(8, 193, 255);
    --primary4: rgb(0, 128, 171);
    --primary5: rgb(0, 111, 148);
    --background: rgb(255, 255, 255);
    --text-primary: rgb(0, 0, 0);
    --header: rgb(205, 205, 205);
    --buttons: rgb(173, 173, 173);
}
/* Les darkmode.txt */
.darkmode {
    --primary5: rgb(91, 214, 255);
    --primary4: rgb(67, 208, 255);
    --primary3: rgb(8, 193, 255);
    --primary2: rgb(0, 128, 171);
    --primary1: rgb(0, 111, 148);
    --background: rgb(31, 31, 31);
    --text-primary: rgb(255, 255, 255);
    --header: rgb(49, 49, 49);
    --buttons: rgb(60, 60, 60);
}

/* Font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p, a {
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Generelle stiler */
body {
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--header);
    transition: background-color 0.3s ease;
}
ul li {
    float: right;
}
ul li a {
    display: block;
    color: var(--text-primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, scale 0.3s ease;
}
ul li a:hover {
    scale: 1.05;
    background-color: var(--buttons);
}

/* Grid layout */
.container {
    display: grid;
    grid-template-areas: 
        "main main main main main"
        "footer footer footer footer footer";
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container > div {
    font-size: 30px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main {
    grid-area: main;
    min-height: 100vh;
    width: auto;
}
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--primary1);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.footer p {
    font-size: 15px;
    color: var(--primary4);
    transition: color 0.3s ease;
}

/* Klasser */
.darkmodebutton {
    margin: 6px;
    background: none;
    border: none;
    transition: scale 0.3s;
}
.darkmodebutton:hover {
    scale: 1.05;
    cursor: pointer;
}
#darkmodeicon {
    width: 30px;
    height: 30px;
}

#gjennestadlogo {
    height: 40px;
    margin: 5px;
}
}