/* Farger */
/* Jeg har brukt ChatGPT for å lære dette konseptet ( les farger.txt)*/
:root {
    --color-primary: rgb(8, 193, 255);
    --primary1: rgb(91, 214, 255);
    --primary2: rgb(67, 208, 255);
    --primary3: rgb(0, 128, 171);
    --primary4: rgb(0, 111, 148);
    --color-background: rgb(255, 255, 255);
    --text-primary: rgb(0, 0, 0);
}

/* Les darkmode.txt */
.dark-mode {
    --color-primary: rgb(8, 193, 255);
    --primary1: rgb(91, 214, 255);
    --primary2: rgb(67, 208, 255);
    --primary3: rgb(0, 128, 171);
    --primary4: rgb(0, 111, 148);
    --color-background: rgb(31, 31, 31);
    --text-primary: rgb(255, 255, 255);
}

/* Font */

h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p {
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Generelle stiler */
body {
    background-color: var(--color-background);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}